<h2>Query Google Calendar</h2>
<p>month from - to</p>
<form [formGroup]="queryForm" class="form-inline" novalidate (ngSubmit)="queryEvents(queryForm.value)">
  <label class="mr-sm-2" for="inlineFormInput">From</label>
  <select type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" formControlName="monthFrom">
    <option *ngFor="let month of months" [ngValue]="month.value">
      {{ month.name }}
    </option>
  </select>

  <label class="mr-sm-2" for="inlineFormInput">To</label>
  <select type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" formControlName="monthTo">
    <option *ngFor="let month of months" [ngValue]="month.value">
      {{ month.name }}
    </option>
  </select>

  <button class="btn btn-primary" type="submit" [disabled]="!queryForm.valid">Query</button>
</form>
<div *ngIf="queryResult">
  <span>Google Api returned: {{queryResult.data.length}} events</span>
  <button class="btn btn-primary" (click)="toAnalysis()">Analyze</button>
</div>